@import "tailwindcss";
@import 'primereact/resources/primereact.min.css';
@import 'primereact/resources/themes/saga-blue/theme.css'; /* or any PrimeReact theme you like */
@import 'primeicons/primeicons.css';